*{
    margin: 0px;
    padding: 0px;
}

header, section, footer, nav, article, figure, figcaption
{
    display: block;
}

body{
    font-family: 'Amatic SC', cursive;
    color: #2e2e2e;
}

header{
    position:fixed;
    width: 100%; 
    margin: auto;   
    background-color: rgba(213, 238, 204, 0.5);
    z-index: 2;

}

li a{
    text-decoration: none;
    color: #2e2e2e;
}

li a:hover{
    color:orange;
}

h1.titulo{
    float: left;
    padding: 10px;
}

h1:not(.titulo){
    margin:60px 0 10px 0;
    text-align: center;
    font-size:30px;
}

h2{
    margin-top: 20px;
    font-size: 20px;
}

.menu{
    float: right;
    padding: 10px;
}

.seccion{
    width: 960px;
    margin: auto;
}

.miFoto{
    width: 100%;
}

.experiencias{
    margin-top: 20px;
}

.experiencias figure{
    width: 25%;
    float: left;
    margin: 0 3%;
}

.marcoImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden
}

img{
    width: 400px;
}

figcaption{
    text-align: center;
}

.maraton{
    text-align: center;
}

.maraton figure .marcoImg{
    margin:0 5%;
    float: left;
}

.recovery{
    clear: both;
}

.menu li{
    margin-inline: 5px;
    padding: 10px;
    display: inline-block;
    list-style: none;
}

footer{
    margin: auto;
    padding: 60px 0;
    width: 960px;
    text-align: center;
}

.experiencias figure > figcaption:hover{
    color: orange;
}

.maraton a{
    margin: 0 auto;
    width:10%;
    display: block;
    text-decoration: none;
    border:solid #14638b;
    color: #14638b;
    padding: 10px;
    border-radius: 10px;
}

.maraton a:hover{
    border: solid orange;
    color: orange;
}

