*{
    margin: 0px;
    padding: 0px;
}

header, section, footer, nav, article, figure, figcaption
{
    display: block;
}

body{
    font-family: 'Amatic SC', cursive;
    background-color: #6ae99b;
}

header{
    width: 960px; 
    margin: auto;   
    padding: 10px;
    background-color:  #b7e96a;
}

h1.titulo{
    float: left;
}

.menu{
    float: right;
    padding: 10px;
}

.seccion{
    width: 960px;
    margin: auto;
    background-color: #e9db6a;
}

.miFoto{
    width: 960px;
}

.experiencias{
    margin-top: 20px;
}

.experiencias figure{
    width: 25%;
    float: left;
    margin: 0 3%;
}

.marcoImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden
}

.experiencias figure img{
    width: 400px;
}

.experiencias figure figcaption{
    text-align: center;
}

.recovery{
    clear: both;
}

.menu li{
    margin-inline: 5px;
    padding: 10px;
    display: inline-block;
    list-style: none;
}
